name: deploy Flutter project to GitHub Pages

on:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write
  pages: write

concurrency:
  group: "pages"
  cancel-in-progress: true

env:
  APP_ROOT: ./app
  REPO_NAME: ${{ github.event.repository.name }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout for workflow to access repository
        uses: actions/checkout@v3

      - name: get flutter sdk
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"

      - name: install packages and test app
        working-directory: ${{ env.APP_ROOT }}
        run: |
          flutter pub get
          flutter test

      - name: build for web
        working-directory: ${{ env.APP_ROOT }}
        run: |
          flutter build web --base-href /${{ env.REPO_NAME }}/

      - name: setup GitHub Pages
        uses: actions/configure-pages@v5

      - name: upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ${{ env.APP_ROOT }}/build/web

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
